<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.file.save"
            class="org.wangzw.plugin.cppstyle.ui.CppStyleHandler">
            <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.cdt.ui.ICEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.file.save"
            class="org.wangzw.plugin.cppstyle.ui.CppStyleHandler">
            <activeWhen>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.jdt.internal.ui.javaeditor.JavaEditor">
                  </instanceof>
               </with>
            </activeWhen>
         </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="CppStyle"
            class="org.wangzw.plugin.cppstyle.ui.CppStylePerfPage"
            id="org.wangzw.plugin.cppstyle.ui.CppStylePerfPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.wangzw.plugin.cppstyle.ui.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
